body {
  font-family: 'Roboto', sans-serif;
}
#section {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  text-align: center;
}
.homework {
  width: 100%;
  height: 400px;
  background-color: #333333;
  border-radius: 10px;
}
#detail {
  color: white;
}
#write_form {
  width: 100%;
  height: 400px;
  background-color: #333333;
  border-radius: 10px;
}
label {
  color: white;
  font-size: 16px;
}
.input_area{
  font-size: 18px;
}