{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/hw_detail.css' %}"/>

<section id="section" class="d-flex flex-wrap align-content-center">
  <div class="container" style="font-family: 'Jua', sans-serif;">
    <div class="card text-center border-warning">
      <div class="card-header border-warning">
        <h1>{{ assign.hw_id }}</h1>
        <h3>{{ assign.writer }}</h3>
      </div>
      <div class="card-body border-warning">
        <h2 class="card-title">{{ assign.title }}</h2>
        <h3 class="card-text">{{ assign.url }}</h3>
        <h3 class="card-text">{{ assign.contents }}</h3>
        {% if assign.image %}
          <p>
            <img src="{{ assign.image.url }}" style="width: 250px" />
          </p>
        {% endif %}
        {% if user == assign.writer %}
          <!-- Edit Homework -->
          <a href="{% url 'homework:edit_assign' assign.pk %}" class="btn btn-warning" style="font-size: 15px;">수정하기</a>
          <!-- Delete Homework -->
          <a href="{% url 'homework:delete_assign' assign.pk %}" class="btn btn-danger" style="font-size: 15px;">삭제하기</a>
        {% endif %}
        
      </div>
      <div class="card-footer text-muted border-warning">
        <h2 class="card-text">
          작성시간 : {{ assign.pub_date }} | 
          수정시간 : {{ assign.edit_date }}</h2>
      </div>
    </div>
    
  </div>
</section>

{% endblock %}