{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/hw_list.css' %}"/>

<section id="section" class="d-flex flex-wrap align-content-center">
  <div class="container">
    {% if not user.is_superuser %}
      <a href="{% url 'homework:writehw' %}" class="btn btn-secondary" style="float: left; margin-bottom: 15px; padding: 10px; font-size: 15px;">
        과제 제출하기
      </a>
    {% endif %}
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">과제</th>
          <th scope="col">글쓴이</th>
          <th scope="col">제목</th>
          <th scope="col">날짜</th>
        </tr>
      </thead>
      <tbody>
        {% if user.is_superuser %}
          {% for assign in all_assignments %}
            <tr
              onclick="location.href='{% url 'homework:showdetail' assign.id %}'"
              style="cursor: pointer"
            >
              <td scope="row">{{ assign.id }}</td>
              <td>{{ assign.hw_id }}</td>
              <td>{{ assign.writer }}</td>
              <td>{{ assign.title }}</td>
              <td>{{ assign.date_summary }}</td>
            </tr>
          {% endfor %}
        {% else %}
          {% for assign in assignments %}
            <tr
              onclick="location.href='{% url 'homework:showdetail' assign.id %}'"
              style="cursor: pointer"
            >
              <td scope="row">{{ assign.id }}</td>
              <td>{{ assign.hw_id }}</td>
              <td>{{ assign.writer }}</td>
              <td>{{ assign.title }}</td>
              <td>{{ assign.date_summary }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="page container">
    {% if user.is_superuser %}
      {% if all_assignments.has_previous %}
        <a href="?page=1" style="color: white">1</a>
        <a href="?page={{all_assignments.previous_page_number}}">◀</a>
      {% endif %}
      <span style="color: white">{{all_assignments.number}}</span>
      <span style="color: white">of</span>
      <span style="color: white">{{all_assignments.paginator.num_pages}}</span>
  
      {% if all_assignments.has_next %}
        <a href="?page={{all_assignments.next_page_number}}">▶</a>
        <a href="?page={{all_assignments.paginator.num_pages}}">{{all_assignments.paginator.num_pages}}</a>
      {% endif %}
    {% else %}
      {% if assignments.has_previous %}
        <a href="?page=1" style="color: white">1</a>
        <a href="?page={{assignments.previous_page_number}}">◀</a>
      {% endif %}
  
      <span>{{assignments.number}}</span>
      <span>of</span>
      <span>{{assignments.paginator.num_pages}}</span>
  
      {% if assignments.has_next %}
        <a href="?page={{assignments.next_page_number}}">▶</a>
        <a href="?page={{assignments.paginator.num_pages}}">{{assignments.paginator.num_pages}}</a>
      {% endif %}
    {% endif %}
  </div>
</section>
{% endblock %}