{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/hw_list.css' %}"/>

<section id="section" class="d-flex flex-wrap align-content-center">
  <div class="container" style="font-family: 'Jua', sans-serif;">
    {% if not user.is_superuser %}
    <h1 style="color: white;"> 나의 과제 제출 목록 </h1>
    <br>
      <a href="{% url 'homework:writehw' %}" class="btn btn-warning" style="float: left; margin-bottom: 15px; padding: 10px; font-size: 15px;">
        과제 제출하기
      </a>
    {% else %}
      <h1 style="color: white;"> 아기사자 과제 목록 </h1>
    {% endif %}
    <table class="table table-warning table-hover">
      <thead>
        <tr>
          <th scope="col" style="font-size: 18px;">번호</th>
          <th scope="col" style="font-size: 18px;">과제</th>
          <th scope="col" style="font-size: 18px;">글쓴이</th>
          <th scope="col" style="font-size: 18px;">제목</th>
          <th scope="col" style="font-size: 18px;">날짜</th>
        </tr>
      </thead>
      <tbody>
        {% if user.is_superuser %}
          {% for assign in all_assignments %}
            <tr
              onclick="location.href='{% url 'homework:showdetail' assign.id %}'"
              style="cursor: pointer">
              <td scope="row">{{ assign.id }}</td>
              <td>{{ assign.hw_id }}</td>
              {% if writer_name == "" %}
                <td>{{ assign.writer }}</td>
              {% else %}
                <td>{{ assign.writer_name}}</td>
              {% endif %}
              <td>{{ assign.title }}</td>
              <td>{{ assign.date_summary }}</td>
            </tr>
          {% endfor %}
        {% else %}
          {% for assign in assignments %}
            <tr
              onclick="location.href='{% url 'homework:showdetail' assign.id %}'"
              style="cursor: pointer"
            >
              <td scope="row">{{ assign.id }}</td>
              <td>{{ assign.hw_id }}</td>
              {% if writer_name == "" %}
                <td>{{ assign.writer }}</td>
              {% else %}
                <td>{{ assign.writer_name}}</td>
              {% endif %}
              <td>{{ assign.title }}</td>
              <td>{{ assign.date_summary }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="page container" style="font-size: 15px; color: white;">
    {% if user.is_superuser %}
      {% if all_assignments.has_previous %}
        <a href="?page=1" style="color: white">1</a>
        <a href="?page={{all_assignments.previous_page_number}}">◀</a>
      {% endif %}
      <span style="color: white">{{all_assignments.number}}</span>
      <span style="color: white">of</span>
      <span style="color: white">{{all_assignments.paginator.num_pages}}</span>
  
      {% if all_assignments.has_next %}
        <a href="?page={{all_assignments.next_page_number}}">▶</a>
        <a href="?page={{all_assignments.paginator.num_pages}}">{{all_assignments.paginator.num_pages}}</a>
      {% endif %}
    {% else %}
      {% if assignments.has_previous %}
        <a href="?page=1" style="color: white">1</a>
        <a href="?page={{assignments.previous_page_number}}">◀</a>
      {% endif %}
  
      <span>{{assignments.number}}</span>
      <span>of</span>
      <span>{{assignments.paginator.num_pages}}</span>
  
      {% if assignments.has_next %}
        <a href="?page={{assignments.next_page_number}}">▶</a>
        <a href="?page={{assignments.paginator.num_pages}}">{{assignments.paginator.num_pages}}</a>
      {% endif %}
    {% endif %}
  </div>
</section>
{% endblock %}