{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/hw_write.css' %}"/>

<section id="section" class="d-flex flex-wrap align-content-center">
  <div class="container">
    <form method="POST" action="{% url 'homework:createassign' %}">
      <div id="write_form" style="height: 430px;">
        <div class="homework" style="width: 100%; height: 140px;">
          <h3 id="detail" style="color: white; padding-top: 20px;">{{ homework.title }}</h3>
          <p style="color: white;">{{ homework.contents }}</p>
        </div>
        {% csrf_token %} {{ form.as_p }}
        <div class="row g-3 align-items-center mb-4">
          <div class="col-3">
            <label>제목 : </label>
          </div>
          <div class="col-7">
            <input type="text" name="title" class="form-control input_area" placeholder="제목을 입력하세요"/>
          </div>
        </div>
        <div class="row g-3 align-items-center mb-4">
          <div class="col-3">
            <label>과제 차시 : </label>
          </div>
          <div class="col-7">
            <select name="hw_id" class="form-select" aria-label="Default select example" style="font-size: 18px;">
              {% for hw in all_hw %}
              <option value="{{ hw.id }}">{{ hw.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row g-3 align-items-center mb-4">
          <div class="col-3">
            <label>url : </label>
          </div>
          <div class="col-7">
            <input type="text" name="url" class="form-control input_area" placeholder="url을 입력하세요"/>
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-3">
            <label> </label>
          </div>
          <div class="col-7 form-floating">
            <textarea name="contents" class="form-control input_area" style="height: 100px"></textarea>
          </div>
        </div>
      </div>
      <input
        type="submit"
        class="btn btn-secondary"
        value="과제 제출하기"
        style="float: right; margin: 15px; padding: 10px; font-size: 15px;" />
    </form>
  </div>
</section>

{% endblock %}