<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>멋쟁이사자처럼 동국대학교</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="../static/css/jquery.fullpage.css" rel="stylesheet"/>
  <link href="../static/css/main.css" rel="stylesheet"/>
  <link href="../static/css/navbar.css" rel="stylesheet"/>

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Russo+One&display=swap" rel="stylesheet">

  <!-- icon -->
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
</head>
<body style="background-color: black;">
  {% include 'shared/navbar.html' %}

  <div id="fullpage" style="background-color: black;">
    <div class="section" class="d-flex flex-wrap align-content-center align-items-center" style="background-color: black;">
      <div class="inner_div" style="margin: 0 auto; padding-top: 120px;">
        <img id="dgu_img" src="{% static 'img/dgu_likelion.png' %}" />
        <h3 id="main_maxim"></h3>
        <div class="text-end" id="right_div" style="margin: 140px 0 0 0;">
          <h4 style="color: #717171; font-size: 19.8px">안녕하세요.</h4>
          <h4 style="color: #717171; font-size: 19.8px">
            <b style="color: #EE9A24">멋쟁이 사자처럼 동국대학교</b>입니다.
          </h4>
        </div>
      </div>
    </div>
    <div class="section" class="d-flex flex-wrap align-content-center align-items-center" style="background-color: black;">
      <div class="inner_div" style="margin: 33px auto 0px auto; padding-top: 100px;">
        <h3 class="about_title">🦁 ABOUT Likelion at DGU 🦁</h3>
        <div class="d-flex justify-content-around" style="font-family: 'Jua', sans-serif;">
          <div class="row">
            <div class="col-sm-7">
              <div class="card" style="margin-bottom: 8px;">
                <div class="card-body">
                  <img id="dgu_photo" src="{% static 'img/sample.png' %}" style="width: 95%;"/>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">10기 운영진</h1>
                    <br>
                    <h2 class="card-text text-muted">회장단</h2>
                    <h2 class="card-text"> 대표 서희찬 | 부대표 이슬기 | 총무 김수영 </h2>
                    <br>
                    <h2 class="card-text text-muted">홍보팀</h2>
                    <h2 class="card-text"> 팀장 이여원 </h2>
                    <h2 class="card-text"> 박상준 백지원 정민경 안석환 </h2>
                    <br>
                    <h2 class="card-text text-muted">교육팀</h2>
                    <h2 class="card-text"> 팀장 이슬기 </h2>
                    <h2 class="card-text"> 강동희 김태연 오광혁 신예진 <br>안소은 이건회 정민주 정재혁 정준홍 </h2>
                    <br>
                  </div>
                </div>
                <div class="card" style="margin-top: 8px;">
                  <div class="card-body">
                    <h1 class="card-title">Links</h1>
                    <h2 class="card-text">
                      <a href="https://www.instagram.com/likelion_dongguk/?hl=ko/" target="_blank"><i class="fab fa-instagram" href="" style="font-size: 2em; color: black;"></i></a>
                      <a href="https://ko-kr.facebook.com/DGUlion/" target="_blank"><i class="fab fa-facebook-square" style="font-size: 2em; color: black;"></i></a>
                      <a href="https://github.com/LikeLion-at-DGU" target="_blank"><i class="fab fa-github" style="font-size: 2em; color: black;"></i></a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
  <script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>

  <script>
    $(document).ready(function(){
      $('#fullpage').fullpage({
        autoScrolling: true,
        scrollingSpeed: 800,
        scrollHorizontally: true,
        navigation: true,
      });

      var text = document.getElementById("main_maxim");
      var typewriter = new Typewriter(text, {
        loop: true
      });
      typewriter.typeString('Hack Your Life!')
                .pauseFor(2500)
                .deleteAll()
                .typeString('Likelion at DGU')
                .pauseFor(2500)
                .deleteAll()
                .start();
    });
  </script>
</body>
</html>